body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-inria-sans: "Inria Sans";

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-41xl: 60px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-dodgerblue: #3199fe;
  --color-cornflowerblue: #267bd0;
  --color-steelblue: #3c6ba8;
  --color-darkslateblue: #17194b;

  /* Border radiuses */
  --br-xl: 20px;
}
