.frame-child {
  position: relative;
  background-color: var(--color-darkslateblue);
  width: 1440px;
  height: 148px;
  z-index: 0;
}
.image-1-icon {
  position: absolute;
  margin: 0 !important;
  top: 22px;
  left: 64px;
  width: 114px;
  height: 105px;
  object-fit: cover;
  z-index: 1;
}
.about,
.home,
.services {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  color: inherit;
}
.about,
.services {
  left: 133px;
}
.services {
  left: 266px;
}
.names {
  position: absolute;
  margin: 0 !important;
  top: 61px;
  left: 669px;
  width: 388px;
  height: 36px;
  z-index: 2;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.sign-in {
  position: relative;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.sign-in-wrapper {
  cursor: pointer;
  border: 0;
  padding: 7px 80px;
  background-color: var(--color-dodgerblue);
  position: absolute;
  top: 54px;
  left: 1118px;
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.group-item:hover,
.sign-in-wrapper:hover {
  background-color: var(--color-cornflowerblue);
}
.frame-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 148px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
}
.unlocking-secure-connections {
  position: absolute;
  top: 272px;
  left: 45px;
  display: inline-block;
  color: var(--color-darkslateblue);
  width: 613px;
  height: 282px;
}
.image-2-icon {
  position: absolute;
  top: 243px;
  left: 745px;
  width: 631px;
  height: 340px;
  object-fit: cover;
}
.group-child {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  border-radius: 10px;
  background-color: var(--color-white);
  width: 1440px;
  height: 160px;
}
.icon-parkleft-c,
.icon-parkright-c {
  position: absolute;
  top: 28px;
  left: 87.2px;
  width: 110.9px;
  height: 103px;
  overflow: hidden;
}
.icon-parkright-c {
  top: 27px;
  left: 1237.7px;
}
.image-3-icon,
.image-4-icon,
.image-5-icon {
  position: absolute;
  top: 24px;
  left: 369.1px;
  width: 178.7px;
  height: 123px;
  object-fit: cover;
}
.image-4-icon,
.image-5-icon {
  top: 2px;
  left: 664px;
  width: 177.6px;
  height: 128px;
}
.image-5-icon {
  top: 8px;
  left: 957.8px;
  width: 108.7px;
  height: 139px;
}
.rectangle-group {
  position: absolute;
  top: 694px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 160px;
}
.group-item,
.want-your-peers {
  position: absolute;
  top: 0;
  left: 0;
}
.want-your-peers {
  display: inline-block;
  width: 560px;
  height: 210px;
}
.group-item {
  border-radius: var(--br-xl);
  background-color: var(--color-dodgerblue);
  width: 302px;
  height: 86px;
}
.get-started {
  position: absolute;
  top: 25px;
  left: 68px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 59px;
  left: 903px;
  width: 302px;
  height: 86px;
}
.want-your-peers-to-engage-with-parent {
  position: absolute;
  top: 933px;
  left: 45px;
  width: 1205px;
  height: 210px;
  color: var(--color-darkslateblue);
}
.peerlink-child {
  position: absolute;
  top: 1348px;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 1206px;
}
.features,
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
}
.features {
  display: inline-block;
  width: 474px;
  height: 96px;
}
.group-inner {
  background-color: var(--color-dodgerblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 511px;
  height: 384px;
}
.group-child1:hover,
.group-inner:hover,
.rectangle-button:hover {
  background-color: var(--color-steelblue);
}
.track-peers {
  margin: 0;
}
.track-peers-communication-container {
  position: absolute;
  top: 166px;
  left: 44px;
  font-size: var(--font-size-41xl);
  display: inline-block;
  font-family: var(--font-inria-sans);
  color: var(--color-white);
  text-align: left;
  width: 422px;
  height: 171px;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 511px;
  height: 384px;
}
.get-alert-for {
  position: absolute;
  top: 81px;
  left: 57px;
  font-size: var(--font-size-41xl);
  display: inline-block;
  font-family: var(--font-inria-sans);
  color: var(--color-white);
  text-align: left;
  width: 422px;
  height: 171px;
}
.rectangle-button,
.rectangle-parent1 {
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 0;
  height: 384px;
}
.rectangle-parent1 {
  border: 0;
  background-color: transparent;
  left: 694px;
  width: 511px;
}
.rectangle-button {
  border: 1px solid var(--color-black);
  background-color: var(--color-dodgerblue);
  left: 0;
  box-sizing: border-box;
  width: 517.8px;
}
.track-sentiments-of {
  position: absolute;
  top: 125px;
  left: 17.2px;
  display: inline-block;
  width: 518.8px;
  height: 172px;
}
.group-child1,
.group-div {
  position: absolute;
  top: 479px;
  left: 0;
  width: 536px;
  height: 384px;
}
.group-child1 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-dodgerblue);
  top: 0;
  box-sizing: border-box;
  width: 511px;
}
.data-analysis {
  position: absolute;
  top: 152px;
  left: 83px;
  display: inline-block;
  width: 422px;
  height: 171px;
}
.group-parent,
.rectangle-parent2 {
  position: absolute;
  top: 479px;
  left: 700px;
  width: 511px;
  height: 384px;
}
.group-parent {
  top: 107px;
  left: 0;
  width: 1211px;
  height: 863px;
}
.features-parent,
.rectangle-input {
  position: absolute;
  top: 1434px;
  left: 115px;
  width: 1211px;
  height: 970px;
}
.rectangle-input {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  top: 83px;
  left: 0;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 566px;
  height: 115px;
}
.full-name {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle-parent3 {
  position: absolute;
  top: 154px;
  left: 12px;
  width: 566px;
  height: 198px;
}
.rectangle-parent4,
.rectangle-parent5,
.rectangle-parent6 {
  position: absolute;
  top: 154px;
  left: 751px;
  width: 566px;
  height: 198px;
}
.rectangle-parent5,
.rectangle-parent6 {
  top: 454px;
  left: 0;
}
.rectangle-parent6 {
  left: 751px;
}
.contact-now,
.group-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-41xl);
}
.group-container {
  top: 2784px;
  left: 37px;
  width: 1317px;
  height: 652px;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font-inria-sans);
}
.submit-request {
  position: absolute;
  top: 25px;
  left: 48px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3558px;
  left: 1036px;
  width: 302px;
  height: 86px;
}
.peerlink-item {
  position: absolute;
  top: 3793px;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 222px;
}
.all-rights-are {
  text-decoration: none;
  position: absolute;
  top: 3886px;
  left: calc(50% - 398px);
  font-size: var(--font-size-11xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: inherit;
}
.all-rights-are:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.peerlink {
  position: relative;
  background-color: #f8f5f4;
  width: 100%;
  height: 4015px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
  font-family: var(--font-inria-sans);
}
